<div class="top-menu">

    <img class="logo"
         src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>
<!-- {{ courses| slice:0:2| json}} 
<div class="demo">
    <div>Start Date: {{startDate| date: 'MMM/dd/yyyy'}}</div>
    <div>{{title | uppercase}}</div>
    <div>{{price | currency: 'EUR'}}</div>
    <div>{{rate | percent}}</div>
</div>

<div *ngFor = "let pair of course | keyvalue">
    {{pair.key + ': '+ pair.value}}
</div>
 --> 
 <div class="courses">
   <!--*ngFor is like JavaScript for(let course of courses) case sensitive ; rename index as i
    slicing 0:3 will only pass 0 and 1. 2 is non-inclusive-->
    <course-card 
        (courseSelected)="onCourseSelected($event)"
        [course]="courses[0]"></course-card>
    <course-card 
        (courseSelected)="onCourseSelected($event)"
        [course]="courses[1]"></course-card>
 </div> 